# Assortment Optimization: Designing A Sushi Menu (Timothy Manolias)

### The following program uses assortment optimization to determine which sushis should be offered at a restaurant to maximize revenue, based on customer preference data.

In [1]:
from IPython.display import Image
from IPython.core.display import HTML

Image(url='Images/Question.png', width=700)

In [2]:
'''Imports Data & Libraries.'''

from gurobipy import *
import pandas as pd
import numpy as np

sushi_ratings = pd.read_csv('Data/sushi_utilities_mat.csv', header=None)

sushi_names = pd.read_csv('Data/sushi_info.csv', header=None)
sushi_names.columns = ['name', 'category', 'price']

sushi_descriptions = pd.read_csv('Data/sushi_descriptions.csv', header=None)
sushi_descriptions.columns = ['name', 'description']

In [3]:
sushi_names.head()

     name  category  price
0     ebi         6  14.71
1   anago         3  15.94
2  maguro         1  15.00
3     ika         5  12.12
4     uni         8  26.30

In [4]:
sushi_ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.587382,1.735096,2.805784,2.808497,2.051500,2.530000,2.262429,2.189008,2.512121,2.695214,...,1.584592,2.261775,1.384078,1.302735,1.617816,2.145763,2.030173,1.361016,1.624062,1.548308
1,1.729766,1.470804,1.468309,1.378944,0.833270,1.100750,0.577461,1.241744,0.782385,1.782568,...,0.592737,1.086077,-0.257822,-0.403802,0.581268,1.015560,0.851418,0.275960,0.420321,0.308964
2,3.344767,3.302255,3.846140,3.076611,3.027984,2.617583,3.186150,2.706815,3.890304,3.457028,...,1.659859,2.554965,1.323442,1.366464,1.681589,1.964062,2.242885,1.439764,1.685639,1.734439
3,3.382407,3.338540,3.465177,2.537292,3.679260,2.213637,3.441076,2.650789,4.027575,3.485529,...,2.374736,2.673804,1.914855,2.090422,2.389358,2.538216,2.459458,2.323644,2.076592,2.329594
4,2.774192,1.930653,2.026012,2.033315,1.617532,1.870940,2.167780,1.810621,1.830054,2.701257,...,1.281234,1.609595,1.244307,1.348403,1.132644,1.507787,1.473952,1.081278,1.163032,1.054110

### Integer Optimization Model

In [5]:
Image(url='Images/Linear_Program_Formulation.png', width=500)

**1B)** This constraint ensures that each customer chooses one sushi option.

**1C)** This constraint ensures that the chosen sushi for each customer has a utility that is
greater than or equal to any of the utilities of the available sushis.

**1D)** This constraint ensures that the customer chooses a sushi that has a utility that is
greater than or equal to the competitorâ€™s sushi option.

**1E)** This constraint ensures that the customer can only choose a sushi out of the available sushi options provided.

**1F)** This constraint ensures the sushi selection variable is a binary decision variable.

**1G)** This constraint ensures the customer selection variable is a binary decision variable.

In [6]:
'''Obtains Sushi Ratings and Sushi Prices.'''

nSushis = sushi_ratings.shape[1]
nCustomers = sushi_ratings.shape[0]

# Adds in no_purchase conditions
sushi_names.at[nSushis] = ('no_purchase', None, 0)
sushi_ratings[nSushis] = 3.0

revenues = sushi_names['price'].to_list()
sushi_ratings_mat = np.asarray(sushi_ratings)

In [7]:
def expected_revenue(S):
    # Creates dataframe with specified attributes
    S2 = np.append(S, nSushis)
    temp_sushi_ratings = sushi_ratings[S2].copy()
    
    # Calculates expected revenue, given each customer's max utility
    customer_revenue = pd.DataFrame(columns=['expected_revenue'])
    for i, customer in temp_sushi_ratings.iterrows():
        max__util_ind = temp_sushi_ratings.iloc[i].idxmax()
        customer_revenue.at[i, 'expected_revenue'] = sushi_names.iloc[max__util_ind]['price']
        
    return customer_revenue.mean()

The relaxation is obtained by relaxing x and y to be continuous decision variables as opposed to binary decision variables:

In [8]:
'''Constructs Integer Optimization Relaxation Model.'''

m = Model()

# Decision Variables
x = m.addVars( nSushis, vtype=GRB.BINARY )
y = m.addVars( nCustomers, nSushis+1, vtype=GRB.BINARY )

# Constraints
print("Creating Constraints:")
for k in range(nCustomers):
    # 1B: Each customer chooses one sushi option.
    m.addConstr( sum(y[k,i] for i in range(nSushis+1)) == 1 )
    
    for i in range(nSushis):
        # 1E: Sushi is chosen only from available sushis
        m.addConstr( y[k,i] <= x[i] )
        
        # 1C: Utility >= utilities of any available sushis
        m.addConstr( quicksum(sushi_ratings_mat[k, j] * y[k, j] for j in range(nSushis+1)) >= sushi_ratings_mat[k, i] * x[i] + sushi_ratings_mat[k, nSushis]*(1 - x[i]) )
    
    # 1D: Utility >= competitor sushi utility
    m.addConstr( quicksum(sushi_ratings_mat[k, j] * y[k, j] for j in range(nSushis+1)) >= sushi_ratings_mat[k, nSushis] )

# Objective Function
print('Creating Objective:')
m.setObjective( quicksum(revenues[i] * 1.0/nCustomers * y[k, i] for k in range(nCustomers) for i in range(nSushis)), GRB.MAXIMIZE )

# Updates and Solves
m.update()
print('Update Completed.')
m.optimize()

Academic license - for non-commercial use only - expires 2021-12-28
Using license file /Users/Nolias/gurobi.lic
Creating Constraints:
Creating Objective:
Update Completed.
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (mac64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 101000 rows, 50600 columns and 5301000 nonzeros
Model fingerprint: 0x7bc7d426
Variable types: 0 continuous, 50600 integer (50600 binary)
Coefficient statistics:
  Matrix range     [6e-06, 5e+00]
  Objective range  [2e-02, 7e-02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+00]
Presolve removed 2 rows and 35615 columns (presolve time = 5s) ...
Presolve removed 73022 rows and 36693 columns (presolve time = 11s) ...
Presolve removed 73092 rows and 36655 columns
Presolve time: 11.52s
Presolved: 27908 rows, 13945 columns, 411674 nonzeros
Variable types: 0 continuous, 13945 integer (13945 binary)
Found heuristic solution: objective 10.8075000
Found heuristic solution: objective 21.5232800

Deterministic concurrent LP optimizer: primal and dual simplex
Showing first log only...


Root simplex log...

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    4.8798800e+00   7.800000e+01   1.560000e+08     12s
Concurrent spin time: 0.00s

Solved with dual simplex

Root relaxation: objective 2.795798e+01, 2326 iterations, 0.65 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0   27.95798    0  748   21.52328   27.95798  29.9%     -   25s
H    0     0                      24.6428400   27.95798  13.5%     -   25s
H    0     0                      25.7988000   27.95798  8.37%     -   26s
H    0     0                      26.0371800   27.95798  7.38%     -   29s
H    0     0                      26.0916800   27.95798  7.15%     -   29s
H    0     0                      26.1016200   27.95798  7.11%     -   29s
     0     0   27.42353    0 1028   26.10162   27.42353  5.06%     -   31s
     0     0   27.42353    0  665   26.10162   27.42353  5.06%     -   33s
H    0     0                      26.1193800   27.42353  4.99%     -   33s
     0     0   27.27409    0  959   26.11938   27.27409  4.42%     -   36s
H    0     0                      26.2019200   27.27409  4.09%     -   37s
     0     0   26.46326    0  899   26.20192   26.46326  1.00%     -   37s
H    0     0                      26.2445400   26.46326  0.83%     -   38s
     0     0   26.28006    0 1018   26.24454   26.28006  0.14%     -   38s
     0     0   26.24689    0  910   26.24454   26.24689  0.01%     -   38s

Cutting planes:
  Clique: 1415
  Zero half: 2
  RLT: 169

Explored 1 nodes (13811 simplex iterations) in 38.76 seconds
Thread count was 8 (of 8 available processors)

Solution count 10: 26.2445 26.2019 26.1194 ... 10.8075

Optimal solution found (tolerance 1.00e-04)
Best objective 2.624454000000e+01, best bound 2.624689333332e+01, gap 0.0090%

In [9]:
'''Prints Results From Integer Optimization Relaxation Model.'''

m_relaxed = m.relax()
m_relaxed.optimize()
relaxation_bound = m_relaxed.objval

print('Relaxation bound: ', relaxation_bound)

Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (mac64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 101000 rows, 50600 columns and 5301000 nonzeros
Model fingerprint: 0xb4d113d6
Coefficient statistics:
  Matrix range     [6e-06, 5e+00]
  Objective range  [2e-02, 7e-02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+00]

Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve time: 1.93s
Presolved: 101000 rows, 50600 columns, 5301000 nonzeros

Ordering time: 3.91s

Barrier performed 0 iterations in 8.88 seconds
Barrier solve interrupted - model solved by another algorithm


Solved with dual simplex
Solved in 1134 iterations and 8.90 seconds
Optimal objective  3.058751154e+01
Relaxation bound:  30.58751153829859

### Analysis

It is impossible for the expected per-customer revenue to exceed the relaxation revenue value of 30.59 dollars, given that the relaxation value yields the absolute optimal objective value while allowing for continuous values. In real life, we cannot assign continuous values in the sushi example. Therefore, when removing the 'continuous values' condition, the expected per-customer revenue of the optimal assortment is 26.24 dollars.

#### Optimal Set of Sushis the Restaurant Should Offer:

In [10]:
# Revenue from optimal set
optimal_revenue = m.objval
print(f'\nOptimal Revenue per Customer: ${optimal_revenue: .2f}\n')

# Optimal sushi names
S_optimal = [i for i in range(nSushis) if x[i].x > 0.5]
sushi_descriptions.iloc[S_optimal].drop(['name'], axis=1)

Optimal Revenue per Customer: $ 26.24

                            description
8                     toro (fatty tuna)
14                      awabi (abalone)
18                      saba (mackerel)
47               tarabagani (king crab)
72   mentaiko_maki (chili cod roe roll)
75  ika_nattou (squid & fermented bean)
87                 tobiuo (flying fish)